### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Compiled class file ###
*.class

### Log file ###
*.log

### BlueJ files ###
*.ctxt

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

application.yml
application-local.yml

### Windows ###
Thumbs.db

### Gradle ###
.gradle
build/